<!DOCTYPE html>
<html>
  <head>
    <title>Strength_App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='//fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Heebo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Nunito:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Oxygen:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Kanit:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <% flash.each do |key, value| %>
      <p class='flash-alert'> <%= value %> </p>
    <%end%>
    <div class='grid-container'>
      <%= yield %>
    </div>
  </body>
</html>
